.top-container {
  background-color: #d0f5be;
  height: 550px;
}

body {
  margin: 0;
  font-family: "Merriweather", serif;
}

h1 {
  font-family: "Tilt Prism", cursive;
  color: #40128b;
}

h2 {
  font-family: "Tilt Prism", cursive;
  color: #321e1e;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #92ba48;
}

.middle-container {
  background-color: cadetblue;
}

a {
  text-decoration: none;
  color: none;
}

.link {
  text-align: center;
  padding-top: 40px;
}

.btn {
  padding: 50px 70px 50px 70px;
}

.Description {
  width: 70%;
  margin: 0 auto 100px auto;
  text-align: left;
}

.tree {
  height: 200px;
  padding: 180px 30px 20px 30px;
  float: left;
}

.para {
  padding: 180px 0 0 0;
}

.para2 {
  width: 80%;
  margin: 0 auto 100px;
}

.save-tree {
  width: 80%;
  margin: 100px auto 100px auto;
}

.save-tree-pic {
  float: right;
  width: 300px;
  padding-bottom: 50px;
}

.year {
  width: 70%;
  margin: 50px auto 50px auto;
}

.our {
  text-align: center;
}

.work {
  text-align: center;
}

.workex {
  width: 80%;
  margin: 80px auto 0px auto;
  padding-bottom: 80px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: darkslategrey;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

.bottom-container {
  padding: 50px 0 50px 0;
  text-align: center;
  background-color: black;
}

.Log {
  padding: 0 30px 0 30px;
}
.goo {
  padding: 0 30px 0 30px;
}
.face {
  padding: 0 30px 0 30px;
}

.twit {
  padding: 0 30px 0 30px;
}

a:hover {
  color: wheat;
}

.btn {
  background: #c955db;
  background-image: -webkit-linear-gradient(top, #c955db, #58cc9e);
  background-image: -moz-linear-gradient(top, #c955db, #58cc9e);
  background-image: -ms-linear-gradient(top, #c955db, #58cc9e);
  background-image: -o-linear-gradient(top, #c955db, #58cc9e);
  background-image: linear-gradient(to bottom, #c955db, #58cc9e);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 4px 7px 3px #000000;
  -webkit-box-shadow: 6px 6px 30px #666666;
  -moz-box-shadow: 6px 6px 30px #666666;
  box-shadow: 6px 6px 30px #666666;
  font-family: "Montserrat", sans-serif;
  color: #f7ff0d;
  font-size: 20px;
  padding: 7px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #92ba48;
  background-image: -webkit-linear-gradient(top, #92ba48, #875199);
  background-image: -moz-linear-gradient(top, #92ba48, #875199);
  background-image: -ms-linear-gradient(top, #92ba48, #875199);
  background-image: -o-linear-gradient(top, #92ba48, #875199);
  background-image: linear-gradient(to bottom, #92ba48, #875199);
  text-decoration: none;
}

.Admission {
  background-color: lightgray;
}

.he {
  text-align: center;
  padding: 50px 0 50px 0;
}
.table {
  padding-left: 100px;
}

.table2 {
  padding-left: 100px;
}

.table3 {
  padding-left: 100px;
}

span {
  background-color: rebeccapurple;
}

.mno {
  background-color: slategray;
  text-align: center;
}

.workspan {
  background-color: #f7ff0d;
}

.workimage {
  text-align: center;
  margin: 50px 0 150px 0;
}

.moo {
  padding-top: 70px;
}

.link4 {
  padding-top: 50px;
}
